@page "/about"
@model AboutModel
@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<div class="page-content">
    <div id="content">
        <div class="section pt-4 px-3 px-lg-4" id="about">
            <div class="container-narrow">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="h4 my-2">Hello! I’m Ali Guliyev.</h2>
                        <p>I am passionate about Software Engineering and .Net Programming. I am a skilled back-end developer and passionate user of popular frameworks such as ASP.Net Core and ASP.Net MVC. I am a quick learner and a team worker that gets the job done. I can easily capitalize on low hanging fruits and quickly maximize timely deliverables for real-time schemas.</p>
                        <div class="row mt-3">
                            <div class="col-sm-2">
                                <div class="pb-1">Age:</div>
                            </div>
                            <div class="col-sm-10">
                                <div class="pb-1 fw-bolder">19</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="pb-1">Email:</div>
                            </div>
                            <div class="col-sm-10">
                                <div class="pb-1 fw-bolder">aguliyev45@gmail.com</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="pb-1">Phone:</div>
                            </div>
                            <div class="col-sm-10">
                                <div class="pb-1 fw-bolder">+994 (050) 499-9744</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="pb-1">Address:</div>
                            </div>
                            <div class="col-sm-10">
                                <div class="pb-1 fw-bolder">Baku, Azerbaijan</div>
                            </div>
                            <div class="col-sm-2">
                                <div class="pb-1">Staus:</div>
                            </div>
                            <div class="col-sm-10">
                                <div class="pb-1 fw-bolder">Available</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1" data-aos="fade-left" data-aos-delay="100"><img class="avatar img-fluid mt-2" src="~/images/illustrations/midjourneyAvatar.png" width="400" height="400" alt="Ali Guliyev Midjourney Avatar" /></div>
                </div>
            </div>
        </div>
    </div>
</div>