@page "/journey"
@model ResumeWithRazorPages.Pages.JourneyModel
@{
    ViewData["Title"] = "Journey";
    Layout = "_Layout";
}

<div class="section px-2 px-lg-4 pt-5" id="journey">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="marker marker-center">My Journey</h2>
        </div>
        <div class="grid bp-gallery pb-3" data-aos="zoom-in-up" data-aos-delay="100">
            <div class="grid-sizer"></div>
            <div class="grid-item">
                <img src="images/journey/yayfest-rain.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/tot-2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/true-color.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/december-31.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/expression-1.jpg" data-bp="images/portfolio/5.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/musketeers.jpeg" data-bp="images/portfolio/6.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/simulation-academy-1.jpeg" data-bp="images/portfolio/7.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/eyp.jpg" data-bp="images/portfolio/8.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/shusha-1.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/expression-2.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/expression-3.jpg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/simulation-academy-3.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/simulation-academy-2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/shusha-2.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/tot-1.jpeg" />
            </div>
            <div class="grid-item">
                <img src="images/journey/expression-4.jpg" />
            </div>
        </div>
    </div>
</div>